*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: lemonchiffon;
  }
  
  .nav-1 {
    display: flex;
    background: white !important;
    height: 50px;
    border: 4px solid lightblue;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-left: 200px;
  }
  
  .nav-1 a,
  .nav-2 a {
    text-decoration: none;
    color: black;
  }
  
  .nav-1 p,
  .nav-2 p {
    display: block;
    flex: 1;
    background: lightblue;
    text-decoration: none;
    border: 2px solid black;
    text-align: center;
  }

  .nav-2 p {
      padding: 0;
      text-decoration: underline;
  }
  
  header p {
    font-size: 40px;
    border: 5px solid black;
  }

  .nav-2 {
      display: flex;
      flex-flow: column wrap;
      background: white;
      width: 150px;
      height: 500px;
      justify-content: space-around;
      align-items: center;
      margin-top: -60px;
      margin-bottom: -50px;
      border: 4px solid lightblue;
      position: fixed;
      padding-bottom: 150px;
      padding-top: 50px;
  }

main {
    margin-left: 300px;
}
  .img-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }

  .img-container img {
      margin-top: 50px;
      margin-left: -100px;
      height: auto;
      width: 300px;
      image-rendering: crisp-edges;
  }

  .intro-flex {
      text-align: center;
      margin: 80px 150px;
      background: white;
      border: 3px dashed black;
      padding: 50px;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 5px;
  }

  .breeds-2 {
      border: 4px solid black;
      display: flex;
      flex-flow: row wrap;
      margin: 50px;
      
}

.breed img {
    height: auto;
    width: 350px;
    margin-top: 20px;
}

.breed {
    border: 3px solid black;
    flex: 1;
    text-align: center;
    background: lightgreen;
}

ul p a {
    text-decoration: none;
    color: blue;
}

ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.breed h4 {
    margin-bottom: 15px;
    font-weight: 900;
}

.breed .facts {
    border: 2px dashed black;
}



